body{
  background-color: blue;
}
.boxy{
  border-style: solid;
  
  border-radius: 10px;
  margin-bottom: 10px;
  
  padding: 5px;
}
.boxy1{
  background-color: floralwhite;
  border-radius: 10px;
  font-size: large;
  font-weight: bold;
  width: 100%;
  text-align: left;
  padding: 0px 20px;
}
.boxy2{
  padding: 10px;
}
.dp {
  float: left;
  margin-right: 10px;
  width: 100px;
}
.un{
  color: gray;
}
.heading {
font-family: "Goudy Bookletter 1911", sans-serif;
font-size: xx-large;
}
.recentPost {
  height:750px;
  overflow-y: scroll;
}
.allTopicList,.allUserList {
  height:500px;
  overflow-y: scroll;
}
.topPost {
  height:300px;
  overflow-y: scroll;
}
.inbox {
  height:150px;
  overflow-y: scroll;
}
#allSubscriptionTopics {
  height:150px;
  overflow-y: scroll;
}
.topicsAtEditUser {
  height:200px;
  overflow-y: scroll;
}
.topicsAtUserPage {
  height:200px;
  overflow-y: scroll;
}.subscriptionsAtUserPage {
  height:200px;
  overflow-y: scroll;
}
.postOnUserPage {
  height:150px;
  overflow-y: scroll;
}
